{% extends "base.html" %} {% block content %}
<div class="list-group">
    <a href="/simple" class="list-group-item list-group-item-action">Первая страница на Flask</a>
    <a href="/current_time" class="list-group-item list-group-item-action">Страница с отображением времени</a>
    <a href="/dow" class="list-group-item list-group-item-action">Вывод списка дней недели</a>
    <a href="/simple_calc?a=5&b=6" class="list-group-item list-group-item-action">Калькулятор адресной строки</a>
</ul>
</div>
{% if user %}
<h1>Hello, {{ user.name }}!</h1>
{% else %}
<h1>Hello, Unknown!</h1>
{% endif %} {% endblock %}
